body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100vh; }

#features {
  transition: all .3s ease-in; }

.main_nav_container {
  height: 90px;
  transition: background-color .3s linear; }

.nav_positionfixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; }

.navcontainer {
  height: 90px;
  width: 100%;
  display: table; }

.nav_leftside {
  min-width: 210px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px; }

.lefcontainer {
  display: inline-block; }
  .lefcontainer a {
    text-decoration: none; }
    .lefcontainer a img {
      width: 140px; }

.nav_centerside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%; }

.centercontainer ul .list_items {
  clear: both;
  display: inline;
  padding-right: 15px;
  white-space: nowrap; }
  .centercontainer ul .list_items a {
    text-decoration: none;
    color: #FF6107;
    font-size: 13px;
    font-weight: 700; }

.nav_rightside {
  min-width: 210px;
  display: table-cell;
  vertical-align: middle;
  text-align: right; }

.rightcontainer {
  display: table;
  text-align: right;
  width: auto;
  position: relative;
  float: right; }

.right_langs {
  display: table-cell;
  vertical-align: middle; }

.right_wrapper {
  display: table;
  width: auto;
  float: right; }

.lang {
  display: table-cell;
  padding: 0 10px;
  font-size: 13px;
  word-break: keep-all; }
  .lang a {
    color: #FF6107;
    text-decoration: none;
    opacity: 0.6;
    font-weight: 400; }

@media screen and (max-width: 892px) {
  .centercontainer ul {
    padding: 10px 0; }
    .centercontainer ul .list_items {
      padding-right: 9px; } }
@media screen and (max-width: 650px) {
  .mobile_nav {
    width: 100%;
    height: 56px;
    background: #111;
    text-align: right; }

  .hamburger-menu {
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 15px;
    cursor: pointer; }
    .hamburger-menu div {
      width: 100%;
      height: 4px;
      margin-bottom: 5px;
      background: white;
      transition: all .2s ease-in-out; }
    .hamburger-menu.close-hamburger .one {
      transform: translateY(9px) rotate(45deg); }
    .hamburger-menu.close-hamburger .two {
      opacity: 0; }
    .hamburger-menu.close-hamburger .three {
      transform: translateY(-9px) rotate(-45deg); }

  .nav_positionfixed {
    display: none; }

  .navcontainer {
    display: none; }

  .nav_leftside,
  .nav_centerside,
  .nav_rightside {
    display: block;
    text-align: center;
    float: none; }

  .centercontainer ul .list_items {
    display: block;
    text-align: center;
    padding: 5px !important; }

  .rightcontainer {
    text-align: center;
    float: none;
    display: inline-block; } }
.bgimg_container {
  height: 100vh;
  background-image: url("main-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.bg_filter {
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)); }

.form_container {
  top: -55%;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  vertical-align: middle; }

.descr {
  color: white;
  font-size: 12px;
  margin-bottom: 30px; }

.form_wrap div {
  display: inline-block; }
.form_wrap input {
  width: 260px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 2px 15px; }
.form_wrap button {
  color: white;
  background: #FF6107;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  margin-left: 10px;
  font-size: 12px; }

@media screen and (max-width: 450px) {
  .form_wrap div {
    display: block;
    margin-bottom: 14px; }
  .form_wrap input {
    width: 240px; }
  .form_wrap button {
    width: 270px;
    margin-left: 0;
    padding: 10px 20px; } }
.quotes {
  width: 100%; }
  .quotes .quote_wrap {
    position: relative;
    margin: 90px auto;
    max-width: 600px;
    display: flex; }
  .quotes .q_icon {
    display: inline-block;
    padding-left: 6px; }
  .quotes .fas {
    color: grey; }

.quo {
  display: inline-block;
  margin-left: 10px; }
  .quo p {
    margin: 4px;
    font-weight: 300; }
  .quo .ceo {
    display: block;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 5px; }

.hr_holder {
  width: 100%; }

.hr_wrap {
  margin: 0 auto;
  max-width: 800px; }
  .hr_wrap hr {
    opacity: 0.5; }

.cb_text_wrap {
  text-align: center;
  padding: 100px 0 40px 0; }
  .cb_text_wrap p {
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px; }

.features_container {
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  padding: 60px 0; }

.feat_wrap {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 360px;
  grid-gap: 10px; }

.features {
  margin-top: 30px; }
  .features img {
    width: 55%; }
  .features p {
    font-size: 12px;
    font-weight: 300;
    padding: 0 25px; }

@media screen and (max-width: 850px) {
  .feat_wrap {
    grid-gap: 0px; } }
@media screen and (max-width: 630px) {
  .feat_wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 360px 360px 360px 360px; }

  .features img {
    width: 110px; } }
.set_of_products {
  width: 100%;
  text-align: center;
  padding: 90px 0; }
  .set_of_products h1 {
    margin: 20px; }

.prods {
  display: flex;
  margin: 30px 20px; }

.products_wrap {
  max-width: 700px;
  margin: 60px auto; }

.prod_img {
  margin-right: 20px; }
  .prod_img img {
    width: 55px; }

.prod_text {
  text-align: left; }
  .prod_text p {
    font-size: 12px; }
  .prod_text h5 {
    margin-top: 0;
    margin-bottom: 3px; }

.iphones_container {
  width: 100%;
  margin: 50px 0; }

.phones_wrapper {
  max-width: 800px;
  display: flex;
  margin: 0 auto; }

.apple_3 img {
  width: 560px; }

.apple_descr {
  width: 200px;
  padding-top: 160px;
  margin-left: 20px; }
  .apple_descr p {
    font-size: 12px;
    font-weight: 300;
    padding-right: 26px; }

@media screen and (max-width: 830px) {
  .apple_3 {
    margin-left: 40px; }
    .apple_3 img {
      width: 470px; }

  .phones_wrapper {
    text-align: center; } }
@media screen and (max-width: 690px) {
  .apple_3 {
    margin-left: 30px; }
    .apple_3 img {
      width: 400px; }

  .apple_descr {
    padding-top: 80px; } }
@media screen and (max-width: 620px) {
  .apple_3 {
    margin: 0 auto 0 15px; }
    .apple_3 img {
      width: 220px; }

  .apple_descr {
    padding-top: 30px; } }
@media screen and (max-width: 430px) {
  .phones_wrapper {
    display: flex;
    flex-direction: column; }

  .apple_3 {
    margin-left: 0; }
    .apple_3 img {
      width: 90%; } }
.roadmap_container {
  width: 100%;
  padding: 100px 0 40px 0; }

.rm_text {
  text-align: center; }
  .rm_text h1 {
    margin-bottom: 90px; }

.rm_box {
  margin: 0 auto;
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr 42px 1fr;
  grid-template-rows: 500px; }

.rm_left {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 130px 143px 140px 1fr;
  text-align: right; }
  .rm_left h3 {
    margin-top: 0;
    margin-bottom: 5px; }
  .rm_left p {
    margin: 0;
    font-size: 13px;
    font-weight: 400; }

.rm_right {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 114px 130px 152px 1fr;
  text-align: left; }
  .rm_right h3 {
    margin-top: 0;
    margin-bottom: 5px; }
  .rm_right p {
    margin: 0;
    font-size: 13px;
    font-weight: 400; }

.faq_container {
  width: 100%;
  padding: 100px 0;
  background: #f2f2f2; }

.faq_wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 10px 40px 10px 20px; }

.faq_text {
  text-align: center;
  margin-bottom: 40px; }

.faqs {
  width: 100%;
  padding: 10px; }

.question {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  background: white;
  height: auto;
  border: 1px solid #bdbdbd;
  padding: 7px 8px;
  border-radius: 3px; }
  .question .qq {
    display: inline-block;
    margin-right: 5px; }
  .question img {
    width: 26px;
    float: right;
    display: inline-block;
    margin-left: 5px;
    transition: all .2s ease-in-out; }
    .question img.openAnswer {
      cursor: pointer;
      transform: rotate(-45deg); }
    .question img:hover {
      cursor: pointer; }

.answer {
  width: 100%;
  background: white;
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-top: 1px solid white;
  border-radius: 4px;
  display: none; }

@media screen and (max-width: 500px) {
  .faq_wrapper {
    margin-right: 20px; } }
.slider_container {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 40px; }

.partners_header {
  text-align: center; }

.slide_img_wrap {
  margin: 80px auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 250px; }

.slide_image img {
  width: 100%; }

.arrows {
  text-align: center;
  padding-top: 40px; }
  .arrows i {
    color: grey;
    cursor: pointer; }

@media screen and (min-width: 601px) {
  .mobile_slider {
    display: none; } }
@media screen and (max-width: 600px) {
  .slider_container {
    display: none; }

  .mobile_slider {
    width: 100%;
    padding: 110px 0; }

  .mini_slider {
    width: 350px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .mini_slider .mini_slide_wrapper {
      display: flex;
      position: absolute;
      transition: left .25s ease-in-out; }
    .mini_slider .left {
      position: absolute;
      left: 5px;
      top: 50%;
      z-index: 11; }
    .mini_slider .right {
      position: absolute;
      right: 5px;
      top: 50%;
      z-index: 11; }

  .mini_slide_wrapper img {
    width: 350px;
    height: 200px; } }
footer {
  background: #393E46;
  text-align: center;
  width: 100%;
  padding: 50px 0; }

.f_header {
  color: grey; }
  .f_header h4 {
    font-weight: 400; }
  .f_header h1 {
    font-family: 'Courgette', cursive; }

.foot_icons a {
  display: inline-block;
  margin: 0 20px; }
.foot_icons i {
  color: white; }

.copyright {
  color: grey;
  font-size: 12px;
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
