$orange: #FF6107;
$light-grey: #f2f2f2;
$grey: #bdbdbd;
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100vh;
}

#features {
  transition: all .3s ease-in;
}
.main_nav_container {
  height: 90px;
  transition: background-color .3s linear;
}

.nav_positionfixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.navcontainer {
  height: 90px;
  width: 100%;
  display: table;
}
.nav_leftside {
  min-width: 210px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.lefcontainer {
  display: inline-block;

  a {
    text-decoration: none;

    img {
      width: 140px;
    }
  }
}

.nav_centerside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.centercontainer {
  ul .list_items {
    clear: both;
    display: inline;
    padding-right: 15px;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: $orange;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.nav_rightside {
  min-width: 210px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.rightcontainer {
  display: table;
  text-align: right;
  width: auto;
  position: relative;
  float: right;
}

.right_langs {
  display: table-cell;
  vertical-align: middle;
}
.right_wrapper {
  display: table;
  width: auto;
  float: right;
}
.lang {
  display: table-cell;
  padding: 0 10px;
  font-size: 13px;
  word-break: keep-all;

  a {
    color: $orange;
    text-decoration: none;
    opacity: 0.6;
    font-weight: 400;
  }
}

@media screen and (max-width: 892px) {
  .centercontainer ul  {
    padding: 10px 0;
    .list_items {
      padding-right: 9px;
    }
  }
}

@media screen and (max-width: 650px) {
  .mobile_nav {
    width: 100%;
    height: 56px;
    background: #111;
    text-align: right;
  }

  .hamburger-menu {
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 15px;
    cursor: pointer;

    div {
      width: 100%;
      height: 4px;
      margin-bottom: 5px;
      background: white;
      transition: all .2s ease-in-out;
    }

    &.close-hamburger {
      .one {
        transform: translateY(9px) rotate(45deg);
      }

      .two {
        opacity: 0;
      }

      .three {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
  .nav_positionfixed {
    display: none;
  }
  .navcontainer {
    display: none;
  }
  .nav_leftside,
  .nav_centerside,
  .nav_rightside {
    display: block;
    text-align: center;
    float: none;
  }
  .centercontainer ul .list_items{
    display: block;
    text-align: center;
    padding: 5px!important;
  }
  .rightcontainer {
    text-align: center;
    float: none;
    display: inline-block;
  }

}

// @media screen and (min-width: 651px) {
//
//   .navcontainer {
//     display: block;
//   }
// }




// MAIN BG IMG
.bgimg_container {
  height: 100vh;
  background-image: url('main-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_filter {
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.30), rgba(0,0,0,0.80));
}

//FORM input

.form_container {
  top: -55%;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.descr {
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
}
.form_wrap {
  div {
    display: inline-block;
  }
  input {
    width: 260px;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 2px 15px;
  }

  button {
    color: white;
    background: $orange;
    border: none;
    border-radius: 5px;
    padding: 11px 20px;
    margin-left: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .form_wrap {
    div {
      display: block;
      margin-bottom: 14px;
    }

    input {
      width: 240px;
    }

    button {
      width: 270px;
      margin-left: 0;
      padding: 10px 20px;
    }
  }
}

// QUOTE
.quotes {
  width: 100%;

  .quote_wrap {
    position: relative;
    margin: 90px auto;
    max-width: 600px;
    display: flex;
  }
  .q_icon {
    display: inline-block;
    padding-left: 6px;
  }
  .fas {
    color: grey;
  }
}
.quo {
  display: inline-block;
  margin-left: 10px;

  p {
    margin: 4px;
    font-weight: 300;
  }
  .ceo {
    display: block;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 5px;
  }
}

// HR
.hr_holder {
  width: 100%;
}
.hr_wrap {
  margin: 0 auto;
  max-width: 800px;

  hr {
    opacity: 0.5;
  }
}

// coinBazar

.cb_text_wrap {
  text-align: center;
  padding: 100px 0 40px 0;

  p {
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px;
  }
}

// features

.features_container {
  width: 100%;
  text-align: center;
  background: $light-grey;
  padding: 60px 0;
}

.feat_wrap {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 360px;
  grid-gap: 10px;
}
.features {
  margin-top: 30px;

  img {
    width: 55%;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    padding: 0 25px;
  }
}

@media screen and (max-width: 850px) {
  .feat_wrap {
    grid-gap: 0px;
  }
}

@media screen and (max-width: 630px) {
  .feat_wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 360px 360px 360px 360px;
  }
  .features {

    img {
      width: 110px;
    }
  }
}

// set Of Products

.set_of_products {
  width: 100%;
  text-align: center;
  padding: 90px 0;

  h1 {
    margin: 20px;
  }
}
.prods {
  display: flex;
  margin: 30px 20px;
}
.products_wrap {
  max-width: 700px;
  margin: 60px auto;
}
.prod_img {
  margin-right: 20px;
  img {
    width: 55px;
  }
}
.prod_text {
  text-align: left;
  p {
    font-size: 12px;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

// 3 I-Phones
.iphones_container {
  width: 100%;
  margin: 50px 0;
}
.phones_wrapper {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
}

.apple_3 {
  img {
    width: 560px;
  }
}

.apple_descr {
  width: 200px;
  padding-top: 160px;
  margin-left: 20px;

  p {
    font-size: 12px;
    font-weight: 300;
    padding-right: 26px;
  }
}

@media screen and (max-width: 830px) {
  .apple_3  {
    margin-left: 40px;

    img {
      width: 470px;
    }
  }
  .phones_wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 690px) {
  .apple_3  {
    margin-left: 30px;

    img {
      width: 400px;
    }
  }

  .apple_descr {
    padding-top: 80px;
  }
}

@media screen and (max-width: 620px) {
  .apple_3  {
    margin: 0 auto 0 15px;
    img {
      width: 220px;
    }
  }

  .apple_descr {
    padding-top: 30px;
  }
}

@media screen and (max-width: 430px) {
  .phones_wrapper {
    display: flex;
    flex-direction: column;
  }

  .apple_3  {
    margin-left: 0;
    img {
      width: 90%;
    }
  }
}

// ROADMAP

.roadmap_container {
  width: 100%;
  padding: 100px 0 40px 0;
}

.rm_text {
  text-align: center;

  h1 {
    margin-bottom: 90px;
  }
}

.rm_box {
  margin: 0 auto;
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr 42px 1fr;
  grid-template-rows: 500px;
}

.rm_left {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 130px 143px 140px 1fr;
  text-align: right;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
  }
}

.rm_right {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 114px 130px 152px 1fr;
  text-align: left;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
  }
}


// FAQ

.faq_container {
  width: 100%;
  padding: 100px 0;
  background: $light-grey;
}
.faq_wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 10px 40px 10px 20px;
}
.faq_text {
  text-align: center;
  margin-bottom: 40px;
}
.faqs {
  width: 100%;
  padding: 10px;
}
.question {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  background: white;
  height: auto;
  border: 1px solid $grey;
  padding: 7px 8px;
  border-radius: 3px;
  .qq {
    display: inline-block;
    margin-right: 5px;
  }

  img {
    width: 26px;
    float: right;
    display: inline-block;
    margin-left: 5px;
    transition: all .2s ease-in-out;

    &.openAnswer {
      cursor: pointer;
      transform: rotate(-45deg);
    }
    &:hover {
      cursor: pointer;
    }
  }

}
.answer {
  width: 100%;
  background: white;
  padding: 8px;
  border: 1px solid $grey;
  border-top: 1px solid white;
  border-radius: 4px;
  display: none;
}
@media screen and (max-width: 500px) {
  .faq_wrapper {
    margin-right: 20px;
  }
}

// PARTNERS

.slider_container {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 40px;
}

.partners_header {
  text-align: center;
}

.slide_img_wrap {
  margin: 80px auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 250px;
}

.slide_image {
  img {
    width: 100%;
  }
}
.arrows {
  text-align: center;
  padding-top: 40px;

  i {
    color: grey;
    cursor: pointer;
  }
}

//if screen greater than 600 px big slider should appear
// if screen <= 600 mobile  version of slider will show up
@media screen and (min-width: 601px) {
  .mobile_slider {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .slider_container {
    display: none;
  }
  .mobile_slider {
    width: 100%;
    padding: 110px 0;
  }
  .mini_slider {
    width: 350px;
    height: 200px;
    margin: 0 auto;

    overflow: hidden;
    position: relative;

    .mini_slide_wrapper {
      display: flex;
      position: absolute;
      transition: left .25s ease-in-out;
    }

    .left {
      position: absolute;
      left: 5px;
      top: 50%;
      z-index: 11;
    }
    .right {
      position: absolute;
      right: 5px;
      top: 50%;
      z-index: 11;
    }
  }

  .mini_slide_wrapper {
    img {
      width: 350px;
      height: 200px;
    }
  }
}

// FOOTER

footer {
  background: #393E46;
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

.f_header {
  color: grey;

  h4 {
    font-weight: 400;
  }

  h1 {
    font-family: 'Courgette', cursive;
  }
}

.foot_icons {
  a {
    display: inline-block;
    margin: 0 20px;
  }
  i {
    color: white;
  }
}
.copyright {
  color: grey;
  font-size: 12px;
  margin-top: 40px;
}
